*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #c9ffdc;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.accueil {
  background: #c9ffdc; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tokenomics {
  background: #c9ffdc; 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roadmap {
  background: #FFE3F2; 
  background-size: cover;
  display: flex;
}

.contact {
  background: #8bcdff; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}


button {
  padding: 20px 50px;
  font-family:  inherit;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all .2s;
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

button::after {
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
  z-index: -1;
  transition: all .5s;
}

button:hover::after {
  transform: rotate(150deg);
}

button:hover {
  transform: translate(0,-6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200,   255, .25);
}


/* image *************************************************************************************/

.fig2 {
  position: absolute;
  right: 250px;
  top: 1900px;
}

.fig3 {
  position: relative;
}

.icone{
  display: flex;
  column-gap: 100px;
}


/* header *************************************************************************************/
* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 74px;
  background: #3ba355;
  color: #f9f9f9;
  font-family: "Poppins";
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }
}

.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navbar-overlay {
    display: none;
  }
}

.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .navbar-burger {
    display: none;
  }
}

.navbar-title {
  margin: 0;
  font-size: 60px;

}

.navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 270px;
  height: 100%;
  padding: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  background: #3ba355;
  visibility: hidden;
  transition: translate 0.3s;
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
}

@media only screen and (min-width: 600px) {
  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }
}

.navbar-menu > button {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  padding: 0 8px;
}

.navbar-menu > button.active {
  color: inherit;
}
.navbar-menu > button.active1 {
  color: inherit;
}
.navbar-menu > button.active2 {
  color: inherit;
}
.navbar-menu > button.active3 {
  color: inherit;
}
/* loader **************************************************************************************/

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.lettre {
  font-family: 'Delicious Handrawn', cursive;
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}

.text {
  font-family: 'Delicious Handrawn', cursive;
  color: #000000;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: center;
  text-align: center;
  align-items: center;

}

@keyframes flash {
  0% {
      color: #fff900;
      text-shadow: 0 0 7px #fff900;
  }
  90% {
      color: #484848;
      text-shadow: none;
  }
  100% {
      color: #fff900;
      text-shadow: 0 0 7px #fff900;
  }
}

.lettre:nth-child(1){
  animation-delay: 0.1s;
}
.lettre:nth-child(2){
  animation-delay: 0.2s;
}
.lettre:nth-child(3){
  animation-delay: 0.3s;
}
.lettre:nth-child(4){
  animation-delay: 0.4s;
}
.lettre:nth-child(5){
  animation-delay: 0.5s;
}
.lettre:nth-child(6){
  animation-delay: 0.6s;
}
.lettre:nth-child(7){
  animation-delay: 0.7s;
}
.lettre:nth-child(8){
  animation-delay: 0.8s;
}
.lettre:nth-child(9){
  animation-delay: 0.9s;
}
.lettre:nth-child(10){
  animation-delay: 1s;
}

.fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}